<%= form_tag(users_login_path, method: :post) do %>
  <div class="form-group">
    <%= label_tag(:authentication_token, 'Token de autenticação: ') %>
    <%= text_field_tag(:authentication_token, nil, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= submit_tag('Log In', class: 'btn btn-primary') %>
  </div>
<% end %>

<%= link_to 'Gerar Token', users_generate_token_path %>
